.available-rooms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  grid-gap: 1rem;
  padding-top: 10rem;
  width:100%;
  justify-items: center;

  &__header {
   width: 100%;
   grid-column: 1/-1;
   text-align: center;
  }

  &__card {
    border: 1px solid $subtle-tones;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28rem;
    height: 40rem;
    padding:1rem;
    border-radius: .6rem;

    &__img {
      height: 20rem;
    } 

    &__book-btn {
      @include rectangleBtn;
      align-self: center;
      width: 90%;
      margin-bottom: 1rem;
    }

  }
}
.info {
  margin-right: 2rem;
}

.hotel-img-container {
  width: 100%;
  height: 18rem;
  overflow: hidden;
  border-radius: 1rem;
}

