.available-rooms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  grid-gap: 1rem;
  padding-top: 10rem;
  width:100%;
  // grid-template-rows: 20rem;
  justify-content: center;

  &__header {
   width: 100%;
   grid-column: 1/-1;
   text-align: center;
  }

  &__card {
    border: 1px solid $subtle-tones;
    width: 28rem;
    height: 40rem;
    padding:1rem;
    border-radius: .6rem;

    &__img {
      width: 100%;
      border-radius: 1rem;
    }
  }
}