.login-page__img {
  display: inline-block;
  height:85vh;
  width: 36%;
  overflow: hidden;
  border: 1px solid $subtle-tones;

  &__hero-img {
    width:100%;
  }
}

.login-page__form-container {
  float: right;
  @include flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 85vh;
}

.login-form__input {
  display: block;
  height: 4.5rem;
  width: 25rem;
  margin-top: 2rem;
  border-radius: .6rem;
}

.login-page__form__btn {
  background-color: #4C75AE;
}