@mixin flex {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

@mixin center ($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin roundButton ($img) {
  border-radius: 100%;
    background-color: $accent;
    background-image: url($img);
    background-position: center;
    background-repeat: no-repeat;
    height:4.5rem;
    width: 4.5rem;
}

@mixin headerFont {
  font-family: 'Shrikhand', cursive;
  font-size: 3rem;
  letter-spacing: .5rem;
}

@mixin rectangleBtn {
  color: #fff;
  background-color: $accent;
  border-radius: .6rem;
  width: 15rem;
  height: 4rem;
}