*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  box-sizing: border-box;
  padding: 5rem;
  height: fit-content;
  min-height: 100vh;
  
}

.btn {
  border: 0;
  outline: 0;

  &:disabled {
    display: none;
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    filter: brightness(90%);

    &:after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity:0;
    }
  }

  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }

}

::-webkit-scrollbar {
    display: none;
  }