body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color:$text-primary;
  font-size: 1.6rem;
}

.header__title {
  color:$text-secondary;
  text-transform: uppercase;
  font-family: 'Shrikhand', cursive;
  // letter-spacing: 1;

  &--main{
    display: block;
    font-size: 8rem;
    letter-spacing: 3.5rem;
  }

  &--sub {
    display: block;
    font-size: 4rem;
    letter-spacing: 1rem;
  }
}

.hotel-points {
  
  &__header {
    font-size: 3rem;
  }
  &__points-earned {
    font-size: 1.7rem;
    line-height: 2;
  }

  &__tag-line {
    font-weight: 400;
    font-size: 2.5rem;
  }
}

.booked-room__card {
  font-size: 2rem;
}