$text-primary: #000;
$text-secondary: rgb(255, 255, 255);
$subtle-tones: rgb(112, 112, 112);
$accent: #FF395A;

$main-drop-shadow: 0 1rem 2rem rgba(black, .2);
$primary-gradient:linear-gradient(0deg, rgba(0, 0, 0, 0.568), rgba(168, 168, 168, 0.267))
